* {
  font-family: fantasy;
  /** background-color: #dbae5b; **/
  background: linear-gradient(45deg, #034d00 0%,  #00a703 50%, #034d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

html {
  background-image: url("../img/parchment.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

p {
  line-height: 16px;
}

.magical {
  font-weight: 600;
  font-size: 30px;
}

.contact {
  text-align: center;
  line-height: 8px;
}

.contact h1 {
  line-height: 16px;
}

.position {
  font-size: 24px;
  line-height: 16px;
}

ul {
  text-align: center;
}

.listitems {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 20px;
}


.date {
  font-family: monospace;
  font-size: 18px;
}
